
/********** Header section **********/
.header{
    background-image: url(images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.logo img{
    width: 200px;
}
.brand{
    background: #fff;
    border-radius: 10px;
    padding: 15px;
    box-shadow: -2px 10px 21px 3px #d4e8f3;
-webkit-box-shadow: -2px 10px 21px 3px #d4e8f3;
-moz-box-shadow: -2px 10px 21px 3px #d4e8f3;
    
}
.brand h6{
    font-weight: bold;
}
.brand img{
    width: 400px;
    justify-content: center;
    display: flex;
}
.banner-right h2{
    text-transform: capitalize;
}
.banner-right h4{
    text-transform: capitalize;
}
.forms{
    border: 1px solid gray;
    border-radius: 10px;

}
form {  
   padding: 10px;
}
.top_text{
    padding: 10px;
}
.forms img{
    width:20px;
    height: 20px;
    margin-right: 5px;
}
.forms input{
    width: 400px;
   
}
.forms h4{
    background: darkblue;
   color: #fff;
   padding: 5px 0;
    
}

/********** Counter section*******/
.short_info{
    background-color: #F2DCAD;
}
.counter h2{
   font-size: 70px !important;
   color: #F2DCAD;
   background: #fff;
   padding: 5px 15px;
   border-radius: 5px 0px 0px 5px;
   margin-top: 10px;
}
.diploma_text  {
    background: #fff;
    padding: 30px;
    border-radius: 5px;
    justify-content: end !important;
    width:100%;
    height: 150px;
      
}
/******** program section *********/
.program_section{
    background: #F8F9FD;
    margin-top: 30px;
    margin-bottom: 30px;
}
.program h2{
    text-align: center;
   
    position: relative;
    
}
.program h2::before{
    content: '';
    display: block;
    width: 50px;
    height: 2px;
    background: #000;
    position: absolute;
    left: 430px;
    top:50%;
    
}
.program h2::after{
    content: '';
    display: block;
    width: 50px;
    height: 2px;
    background: #000;
    position: absolute;
    right: 430px;
    top:50%;
    
}
.card{
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 0px 3px 34px 12px #d4e8f3;
-webkit-box-shadow: 0px 3px 34px 12px #d4e8f3;
-moz-box-shadow: 0px 3px 34px 12px #d4e8f3;
}
.card-body h5{
    font-size: 16px;
}
.card-body h5::after{
    content: '';
    background: #000;
    width: 30px;
    height: 2px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
}
